<div class="container">
    {{#each article}}
        <div>
            <a href={{link}}>
                <h2>{{headline}}</h2>
                <img src={{imgUrl}}>
            </a>
            <p>{{summary}}</p>
        </div>
    {{/each}}
</div>
